<div class="wrap">
    <form action="">
        <div>
            <label for="">Expense Name</label>
            <input type="text" name="">
        </div>
        <div>
            <label for="">Amount</label>
            <input type="text" name="">
        </div>
        <div>
            <label for="">Group</label>
            <select name="" id="">
                <option value="">Group 1</option>
                <option value="">Group 2</option>
                <option value="">Group 3</option>
            </select>
        </div>
    </form>
</div>
