<div class="wrap">
    <form action="">
        <div>
            <label for="">Group Name</label>
            <input type="text" name="">
        </div>
        <div>
            <label for="">Group Description</label>
            <input type="text" name="">
        </div>
        <div>
            <label for="">Group Members</label>
            <select name="" id="">
                <option value="">Members 1</option>
                <option value="">Members 2</option>
                <option value="">Members 3</option>
            </select>
        </div>
    </form>
</div>