<!-- <p>header works!</p> -->
<!-- 
<mat-toolbar color="transparent">
  <div class="logo">
    <img src="../../../assets/flame-bitcoin-p2p-3.png">
  </div>
    <span style="margin-right: 10px">SPLIttR</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/" style="border-radius: 5px; margin-right: 10px;">Home</button>
    <button mat-button routerLink="/about" style="border-radius: 5px; margin-right: 10px;">About</button>
    <button mat-button routerLink="/contact" style="border-radius: 5px; margin-right: 10px;">Contact</button>
    <button mat-button routerLink="/" style="border-radius: 5px; margin-left: auto; margin-right: 10px;">Login</button>
    <button mat-button routerLink="/about" style="border-radius: 5px; margin-right: 10px;">Signup</button>
  </mat-toolbar> -->
  
  <div class="frame-1">
    <div class="sp-lit">खर्चा बहि</div>
    <div class="frame-2">
      <a class="lorem" [routerLink]="['/']">Home</a>
      <a class="lorem">About</a>
      <div class="lorem">Contact</div>
    </div>
  </div>
  