<!-- /<div class="dashboard">
    <h2>Expense Sharing Dashboard</h2>
    <div class="balance">
      <h3>Your Balance:</h3>
      <p>$1000.00</p>
    </div>
  </div>
   -->
<div class="wrap">
  <div class="mac-book-pro-14-1">
    <div class="frame-7">
      <div class="split" [routerLink]="['/']">खर्चा बहि</div>
      <div class="frame-9">
        <a class="home" [routerLink]="['profile']" routerLinkActive="active">{{
          displayedFirstName
        }}</a>
      </div>
      <div class="frame-8">
        <div class="frame-9">
          <a class="home" [routerLink]="['home']" routerLinkActive="active"
            >Home</a
          >
        </div>
        <div class="frame-9">
          <a class="home" [routerLink]="['friends']" routerLinkActive="active"
            >Friends</a
          >
        </div>
        <div class="frame-9">
          <a class="home" [routerLink]="['groups']" routerLinkActive="active"
            >Groups</a
          >
        </div>
        <div class="frame-9">
          <a class="home" [routerLink]="['transaction']" routerLinkActive="active"
          >Transactions</a>
        </div>

        <!-- <div class="frame-9">
          <a class="home" (click)="logout()">Log Out</a>
        </div> -->
        <div class="frame-9">
          <a class="home" [routerLink]="['profile']" routerLinkActive="active"
            >Profile</a
          >
        </div>
        

        <!-- <div class="frame-16"></div> -->
      </div>
      <div>
        <div class="frame-9">
          <a class="home logout" (click)="logout()" [routerLink]="['/']">Log Out</a>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
