<!-- /<div class="dashboard">
    <h2>Expense Sharing Dashboard</h2>
    <div class="balance">
      <h3>Your Balance:</h3>
      <p>$1000.00</p>
    </div>
  </div>
   -->
<div class="wrap">
  
  <div class="mac-book-pro-14-1">
    <div class="frame-7">
      <div class="sp-lit">spLit</div>
      <div class="frame-8">
        <div class="frame-9">
          <a class="home" [routerLink]="['home']" routerLinkActive="active">Home</a>
        </div>
        <div class="frame-9">
          <a class="home" [routerLink]="['friends']" routerLinkActive="active">Friends</a>
        </div>
        <div class="frame-9">
          <a class="home" [routerLink]="['groups']" routerLinkActive="active">Groups</a>
        </div>
        <div class="frame-9">
          <div class="home">Add Expense</div>
        </div>
      </div>
      <div class="frame-16"></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
