.wrap {
  display: flex;
  text-wrap: nowrap;
}
.mac-book-pro-14-1,
.mac-book-pro-14-1 * {
  box-sizing: border-box;
}
.mac-book-pro-14-1 {
  background: #1a1a1a;
  display: flex;
  flex-direction: row;
  gap: 0px;
  /* align-items: flex-start; */
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  background: #1a1a1a;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.3);
  /* width: 30vw; */
}
.frame-7 {
  background: #1a1a1a;
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  /* gap: 180px; */
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 15vw;
  height: 100vh;
}
.split {
  color: #a0d7c3;
  text-align: left;
  font: 700 48px "Amiri", sans-serif;
  position: relative;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  gap: 24px;
  position: relative;
  width: 100%;
}
.frame-9 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* align-self: stretch; */
  /* flex-shrink: 0; */
  position: relative;
  width: 100%;
}

.frame-9 a {
  cursor: pointer;
}
.home {
  color: #ffffff;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
  width: 100%;
  /* background: #232323; */
  /* width: 100%; */
  padding: 24px 48px 24px 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  /* flex-shrink: 0; */
  position: relative;
}
.frame-11 {
  padding: 24px 48px 24px 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.groups {
  color: #ffffff;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.frame-12 {
  padding: 24px 48px 24px 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.add-expense {
  color: #ffffff;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.frame-16 {
  flex-shrink: 0;
  width: 100px;
  height: 6px;
  position: relative;
  overflow: hidden;
}
.frame-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-15 {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-21 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-17 {
  background: #232323;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.total-balance {
  color: #bfbfbf;
  text-align: center;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
._38-034 {
  color: #ffffff;
  text-align: center;
  font: 700 48px "Inter", sans-serif;
  position: relative;
}
.frame-20 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-18 {
  background: #23261c;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.you-are-owed-69-000 {
  color: #ffffff;
  text-align: center;
  position: relative;
}
.you-are-owed-69-000-span {
  color: #ffffff;
  font: 500 18px "Inter", sans-serif;
}
.you-are-owed-69-000-span2 {
  color: #ffffff;
  font: 700 28px "Inter", sans-serif;
}
.frame-19 {
  background: #261c1c;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.you-owe-380 {
  color: #ffffff;
  text-align: center;
  position: relative;
}
.you-owe-380-span {
  color: #ffffff;
  font: 500 18px "Inter", sans-serif;
}
.you-owe-380-span2 {
  color: #ffffff;
  font: 700 28px "Inter", sans-serif;
}
.frame-27 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-22 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.frame-23 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-24 {
  background: #3eae49;
  align-self: stretch;
  flex-shrink: 0;
  width: 8px;
  position: relative;
  overflow: hidden;
}
.frame-25 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.oinkita-kaur {
  color: #ffffff;
  text-align: center;
  font: 600 24px "Inter", sans-serif;
  position: relative;
}
.cigaretter {
  color: #bababa;
  text-align: center;
  font: 500 18px "Inter", sans-serif;
  position: relative;
}
.frame-26 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
._38-0342 {
  color: #00ff19;
  text-align: center;
  font: 700 24px "Inter", sans-serif;
  position: relative;
}
.frame-232 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.frame-242 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.frame-243 {
  background: #ae3e3e;
  align-self: stretch;
  flex-shrink: 0;
  width: 8px;
  position: relative;
  overflow: hidden;
}
._38-0343 {
  color: #ff0000;
  text-align: center;
  font: 700 24px "Inter", sans-serif;
  position: relative;
}
.frame-252 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.frame-262 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.active {
  background: #232323;
  /* width: 100%; */
  padding: 24px 48px 24px 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  /* flex-shrink: 0; */
  position: relative;
}

.logout {
  background-color: #a0d7c3;
  font-weight: 700;
  color: #2a2a2a;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .split{
    font-size: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .split{
    font-size: 28px;
  }
}