<div class="login-form">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="toLogin(loginForm)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" class="form-control" formControlName="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control" formControlName="password" required>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <br><br>
    <button type="button" [disabled]="loginForm.invalid" (click)="signUp()">New User Then Sign-Up</button>
  </form>
</div>
  

  