/* Styling for the login form */
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: max-content;
  /* gap: 1px; */
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    color: white;
    /* background-color: #f9f9f9; */
    box-shadow: 0px 0px 5px #000000;
  }

  h1 {
    color: #a0d7c3;
  }
  
  .login-form h2 {
    text-align: center;
    color: #333;
  }
  
  .login-form label {
    font-weight: bold;
    display: block;
  }
  
  .login-form input {
    width: 240px;
    padding: 10px;
    border-radius: 4px;
    background-color: #000000;
    color: #fff;
    border: 0;
  }
  
  .login-form button {
    background-color: #a0d7c3;
    font-size: medium;
    font-weight: 700;
    color: #1a1a1a;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #3b9675;
    color: #fff;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  /* Optional: Add more styles as needed */
  .existing{
    color: white;

  }

  .existing span{
    color: #a0d7c3;
    text-decoration: underline;
    cursor: pointer;
  }