<!-- <div class="registration-form">
    <h1>Registration</h1>
    <form [formGroup]="myForm" (ngSubmit)="toRegister(myForm)">
      <div class="form-group">
        <label for="username">Firstname:</label>
        <input type="text" id="username" name="username" class="form-control" formControlName="firstName" required>
      </div>
      <div class="form-group">
        <label for="username">Lastname:</label>
        <input type="text" id="username" name="username" class="form-control" formControlName="lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="email">Mobile:</label>
        <input type="text" id="number" name="number" class="form-control" formControlName="number" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="password">Confirm Password:</label>
        <input type="password" id="password" name="password" class="form-control" formControlName="confirmPassword" required>
      </div>
      <button type="submit" [disabled]="myForm.invalid" (click)="proceed()">Register</button>
      <br><br>
      <button type="submit" [disabled]="myForm.invalid" (click)="logIn()">Exsisting User Then Log-In</button>
    </form>
  </div> -->
  

  <div class="registration-form">
    <h1>Registration</h1>
    <form [formGroup]="myForm" (ngSubmit)="toRegister(myForm)">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" class="form-control" formControlName="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" class="form-control" formControlName="lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="number">Mobile:</label>
        <input type="text" id="number" name="number" class="form-control" formControlName="number" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" formControlName="confirmPassword" required>
      </div>
      <button type="submit" [disabled]="myForm.invalid">Register</button>
      <br><br>
      <button type="button" [disabled]="myForm.invalid" (click)="logIn()">Existing User Then Log-In</button>
    </form>
  </div>
  