<div class="frame-15">
  <div class="frame-21">
    <div
      class="frame-17"
      [ngClass]="{
        'positive-balance': balance >= 0,
        'negative-balance': balance < 0
      }"
    >
      <div class="total-balance">Total Balance</div>
      <div class="_38-034">₹{{ balance | number: '1.2-2'}}</div>
    </div>
    <div class="frame-20">
      <div class="frame-18">
        <div class="you-are-owed-69-000">
          <span
            ><span class="you-are-owed-69-000-span">You are owed :<br /></span
            ><span class="you-are-owed-69-000-span2">₹{{ owed | number: '1.2-2'}}</span></span
          >
        </div>
      </div>
      <div class="frame-19">
        <div class="you-owe-380">
          <span
            ><span class="you-owe-380-span">You owe :<br /></span
            ><span class="you-owe-380-span2">₹{{ -owes | number: '1.2-2'}}</span></span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="home-add-expense">
    <div class="add-expense" (click)="toggleModal()">
      <h1>Add Expense 
      </h1>
      <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 24 24"
    >
      <path
        fill="#6f6f6f"
        d="M12.75 7a.75.75 0 0 0-1.5 0v4.25H7a.75.75 0 0 0 0 1.5h4.25V17a.75.75 0 0 0 1.5 0v-4.25H17a.75.75 0 0 0 0-1.5h-4.25z"
      />
    </svg>
      
    </div>
    <ul>
      
      <li *ngFor="let i of transactionList">
        <div class="frame-27" (click)="toggleExpenseModal(i.expenseId)">
          <div class="frame-22">
            <div class="frame-23">
              <div class="frame-24" [style.background]="getColor(i)"></div>
              <div class="frame-25">
                <div class="oinkita-kaur">{{ i.expenseName }}</div>
                <div class="cigaretter">Group Name : {{ i.groupName }}</div>
              </div>
            </div>
            <div class="frame-26">
              <div class="_38-0342" [style.color]="getColor(i)">
                {{ i.amount | number: '1.2-2'}}
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    
  </div>
</div>

<!-- expense details -->
<div class="modal" [style.display]="showExpenseModal ? 'flex' : 'none'">
  <div class="blur"></div>
  <div class="modal-content">
    <div class="wrap expense">
      <div class="title">
        <h2>EXPENSE DETAILS FOR - {{this.expenseDetailsHome.comment}}</h2>
        <button class="close-icon" (click)="closeExpenseModalHandler()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="black"
            class="bi bi-x-lg"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
            />
          </svg>

        </button> 
      </div>
      <div class="expense-details">
        <h1>{{expenseDetailsHome.amountPaid}}</h1>
        <table>
          <tr class="details-list"> 
            <tr *ngFor="let expense of paymentSplitDetailsList">              
              <td>{{expense.userName | uppercase }}</td>
              <td> Paid </td>
              <td>{{expense.amount  | number: '1.2-2' }}</td>
            </tr>
            <tr *ngFor="let expense of expenseSplitDetailsList">              
              <td>{{expense.payerName | uppercase }}</td>
              <td> Owes </td>
              <td>{{expense.amount | number: '1.2-2'}}</td>
              <td> to </td>
              <td>{{expense.payeeName | uppercase }}</td>
            </tr>
            <tr>
              <td></td>
              <td><button routerLink="/dashboard/group-details/{{groupIdForRouting}}">GROUP</button></td>
              <td></td>
              <td><button routerLink="/dashboard/friends">SETTLEMENT</button></td>
            </tr>
        </table>       
      </div>
    </div>
  </div>
</div>

<!-- Group selection modal for expense adding in home page -->
<div class="modal" [style.display]="showModal ? 'flex' : 'none'">
  <div class="blur"></div>
  <div class="modal-content">
    <div class="wrap">
      <div class="title">
        <h1>Select a Group</h1>
        <button class="close-icon" (click)="toggleModal()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="black"
            class="bi bi-x-lg"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
            />
          </svg>
        </button>
      </div>

      <!-- Add expense feature in home page --> 

      <form #selectGroupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="chooseGroup">Choose Group :</label>
          <div >
            <select name="chooseGroup" id="chooseGroup" [(ngModel)]="selectedGroupId" >
              
              <option *ngFor="let group of groups" value={{group.id}} >{{group.groupName}}</option>
             
            </select>
          </div>
        </div>
        <button type="submit">Proceed</button>
      </form>
    </div>
  </div>
</div>
