<div class="frame-15">
  <div class="frame-21">
    <div class="frame-17">
      <div class="total-balance">Total Balance</div>
      <div class="_38-034">₹38,034</div>
    </div>
    <div class="frame-20">
      <div class="frame-18">
        <div class="you-are-owed-69-000">
          <span
            ><span class="you-are-owed-69-000-span">You are owed :<br /></span
            ><span class="you-are-owed-69-000-span2">₹68,000</span></span
          >
        </div>
      </div>
      <div class="frame-19">
        <div class="you-owe-380">
          <span
            ><span class="you-owe-380-span">You owe :<br /></span
            ><span class="you-owe-380-span2">₹380</span></span
          >
        </div>
      </div>
    </div>
  </div>
  <ul>
    <li *ngFor="let home of home">
      <div class="frame-29">
        <div class="nano"><span>Nano</span> added in <span>Babu</span></div>
        <div class="frame-22">
          <div class="frame-24"></div>
          <div class="frame-31">
            <div class="frame-292">
              <div class="petrol">Petrol</div>
              <div class="frame-32">
                <div class="you-owe">You owe :</div>
              </div>
            </div>
            <div class="frame-30">
              <div class="frame-25">
                <div class="total-400">Total : 400</div>
              </div>
              <div class="frame-26">
                <div class="_100">100</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    


  </ul>
</div>
