.frame-15,
.frame-15 * {
  box-sizing: border-box;
}
.frame-15 {
  /* margin-top: 54px; */
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  width: 85vw;
  height: 92vh;
  /* max-width: 100% ; */
  /* overflow: hidden; */
  /* background-color: #00ff19; */
}
ul, li {
  width: 100%;
  padding: 0;
  margin: 0;
}
ul {
  display: flex;
  flex-direction: column;
  gap:12px;
  max-height: 100%;
  overflow-y: auto;
}
.frame-21 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-17 {
  background: #232323;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.total-balance {
  color: #bfbfbf;
  text-align: center;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
._38-034 {
  color: #ffffff;
  text-align: center;
  font: 700 48px "Inter", sans-serif;
  position: relative;
}
.frame-20 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-18 {
  background: #23261c;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.you-are-owed-69-000 {
  color: #ffffff;
  text-align: center;
  position: relative;
}
.you-are-owed-69-000-span {
  color: #ffffff;
  font: 500 18px "Inter", sans-serif;
}
.you-are-owed-69-000-span2 {
  color: #ffffff;
  font: 700 28px "Inter", sans-serif;
}
.frame-19 {
  background: #261c1c;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.you-owe-380 {
  color: #ffffff;
  text-align: center;
  position: relative;
}
.you-owe-380-span {
  color: #ffffff;
  font: 500 18px "Inter", sans-serif;
}
.you-owe-380-span2 {
  color: #ffffff;
  font: 700 28px "Inter", sans-serif;
}
.frame-27 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-22 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.frame-23 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-24 {
  background: #3eae49;
  align-self: stretch;
  flex-shrink: 0;
  width: 8px;
  position: relative;
  overflow: hidden;
}

.frame-25 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.oinkita-kaur {
  color: #ffffff;
  text-align: center;
  font: 600 24px "Inter", sans-serif;
  position: relative;
}
.cigaretter {
  color: #bababa;
  text-align: center;
  font: 500 18px "Inter", sans-serif;
  position: relative;
}
.frame-26 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
._38-0342 {
  color: #00ff19;
  text-align: center;
  font: 700 24px "Inter", sans-serif;
  position: relative;
}
.frame-232 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.frame-242 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.frame-243 {
  background: #ae3e3e;
  align-self: stretch;
  flex-shrink: 0;
  width: 8px;
  position: relative;
  overflow: hidden;
}
._38-0343 {
  color: #ff0000;
  text-align: center;
  font: 700 24px "Inter", sans-serif;
  position: relative;
}
.frame-252 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}
.frame-262 {
  background: #232323;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
  overflow: hidden;
}

/* modal */

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content {
  padding: 24px;
  background-color: #000;
  /* width: 50vw; */
  height: max-content;
  z-index: 999;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: 99;
  /* filter: blur(100px); */
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  gap: 12px;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 24px;
}

input,
select {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2;
  /* min-width: 420px; */
  padding: 16px;
  border-radius: 5px;
  margin-top: 3px;
  background-color: #000;
  color: #fff;
  border: 0;
}
label {
  text-wrap: nowrap;
  font-size: 18px;
  font-weight: bold;
  color: rgb(223, 223, 223);
}

button,
input[type="submit"] {
  background-color: #a0d7c3;
  font-size: medium;
  font-weight: 700;
  color: #1a1a1a;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #3b9675;
  color: #fff;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wrap {
  /* width: 85vw; */
  /* height: 100%; */
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.wrap .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.close-icon {
  width: max-content;
  cursor: pointer;
  /* background-color: transparent; */
}
