<div class="wrap">
  <form    #expenseForm="ngForm" (ngSubmit)="onSubmit(expenseForm)">
    <div class="form-group" onsubmit="">
      <label for="comment">Comment :</label>
      <input
        type="text"
        id="comment"
        name="comment"
        class="form-control"
        [(ngModel)]="comment"
        required
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="amount">Total Amount :</label>
      <input
        type="number"
        id="amount"
        name="amount"
        class="form-control"
        [(ngModel)]="amountPaid"
        required
        ngModel
        
      />
    </div>
    <div class="split-section">
      <div class="split">
        <input type="checkbox" name="split"  (change)="togglePSplitList()"/>
        <label for="splitCheckbox">Split by Amount</label>
      </div>
      <div class="form-group split list" *ngIf="isPSplitChecked">
        <label>Split Between</label>
        <ul>
          <li *ngFor="let member of members">
            {{ member.firstName }}
            <input type="number" [(ngModel)]="payeeValues[member.id]" name="payee_{{ member.id }}">
          </li>
        </ul>
      </div>
      <div class="split">
        <input type="checkbox" name="split2"  (change)="toggleESplitList()"/>
        <label for="split2Checkbox">Split by Another Criteria</label>
      </div>
      <div class="form-group split list" *ngIf="isESplitChecked">
        <label>Split Between (Another Criteria)</label>
        <ul>
          <li *ngFor="let member of members">
            {{ member.firstName }}
            <input type="number" [(ngModel)]="settlementValues[member.id]" name="settlement_{{ member.id }}">
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" name="submit">
    </div>
  </form>
</div>
