<div class="wrap">
  <form  #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group" onsubmit="">
      <label for="comment">Comment :</label>
      <input
        type="text"
        id="comment"
        name="comment"
        class="form-control"
        formControlName="comment"
        required
      />
    </div>
    <div class="form-group">
      <label for="amount">Total Amount :</label>
      <input
        type="number"
        id="amount"
        name="amount"
        class="form-control"
        formControlName="amount"
        required
      />
    </div>
    <div class="split-section">
      <div class="split">
        <input type="checkbox" name="split" [(ngModel)]="isSplitChecked" (ngModelChange)="toggleSplitList()" #splitCheckbox="ngModel" />
        <label for="splitCheckbox">Split by Amount</label>
      </div>
      <div class="form-group split list" [style.display]="isSplitChecked ? 'block' : 'none'" id="splitList">
        <label>Split Between</label>
        <ul>
          <li>Member 1 <input type="number"></li>
          <li>Member 2 <input type="number"></li>
          <li>Member 3 <input type="number"></li>
          <li>Member 4 <input type="number"></li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" name="submit">
    </div>
  </form>
</div>
