<div class="frame-15">
  <!-- <div class="frame-21">
    <div class="frame-17">
      <div class="total-balance">Your Balance In Group</div>
      <div class="_38-034">₹----</div>
    </div>
    <div class="frame-20">
      <div class="frame-18">
        <div class="you-are-owed-69-000">
          <span
            ><span class="you-are-owed-69-000-span"
              >Total Amount You are owed in this Group :<br /></span
            ><span class="you-are-owed-69-000-span2">₹----</span></span
          >
        </div>
      </div>
      <div class="frame-19">
        <div class="you-owe-380">
          <span
            ><span class="you-owe-380-span"
              >Total Amount You owe in this Group:<br /></span
            ><span class="you-owe-380-span2">₹----</span></span
          >
        </div>
      </div>
    </div>
  </div> -->
  <div class="list-section">
    <div class="group-title">
      <h1>{{ groupName  | uppercase }}</h1>
      <a class="addBtn" (click)="toggleEditModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585l1.594-1.58zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006v-1.589z"/><path fill="white" d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z"/></svg>
      </a>
      <a class="addBtn" (click)="deleteGroup()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/><path fill="white" d="M20 5a1 1 0 1 1 0 2h-1l-.003.071l-.933 13.071A2 2 0 0 1 16.069 22H7.93a2 2 0 0 1-1.995-1.858l-.933-13.07A1.017 1.017 0 0 1 5 7H4a1 1 0 0 1 0-2h16Zm-3.003 2H7.003l.928 13h8.138l.928-13ZM14 2a1 1 0 1 1 0 2h-4a1 1 0 0 1 0-2h4Z"/></g></svg>
      </a>
    </div>
    <div class="buttons">
      <!-- <a class="addBtn" (click)="toggleEditModal()">Edit Name</a> -->
      <a class="addBtn" (click)="toggleModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/><path fill="white" d="M16 14a5 5 0 0 1 5 5v2a1 1 0 1 1-2 0v-2a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v2a1 1 0 1 1-2 0v-2a5 5 0 0 1 5-5h8Zm4-6a1 1 0 0 1 1 1v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 1 1 0-2h1V9a1 1 0 0 1 1-1Zm-8-6a5 5 0 1 1 0 10a5 5 0 0 1 0-10Zm0 2a3 3 0 1 0 0 6a3 3 0 0 0 0-6Z"/></g></svg>
      </a>
      <a class="addBtn" routerLink="../../addExpense" routerLinkActive="active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="margin: 5px;"><path fill="white" d="M17 23v-3h-3v-2h3v-3h2v3h3v2h-3v3h-2ZM5 19V5v14Zm0 2q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v8.825q-.45-.275-.95-.45T19 13.1V5H5v14h7q0 .525.075 1.025t.25.975H5Zm3-4q.425 0 .713-.288T9 16q0-.425-.288-.712T8 15q-.425 0-.712.288T7 16q0 .425.288.713T8 17Zm0-4q.425 0 .713-.288T9 12q0-.425-.288-.712T8 11q-.425 0-.712.288T7 12q0 .425.288.713T8 13Zm0-4q.425 0 .713-.288T9 8q0-.425-.288-.712T8 7q-.425 0-.712.288T7 8q0 .425.288.713T8 9Zm3 4h6v-2h-6v2Zm0-4h6V7h-6v2Zm0 8h1.35q.2-.575.5-1.075t.7-.925H11v2Z"/></svg>
        Add Expense</a>
    </div>
  </div>
  <div class="container">
    <div class="left-section">
      <ul>
        <h2 class="list-title">Expense List</h2>
        <li *ngFor="let expense of expensesList" >
          <div class="frame-27 e-list" (click)="toggleExpenseModal(expense.id)">
            <div class="frame-22">
              <div class="frame-23">
                <div class="frame-24"></div>
                <div class="frame-25">
                  <div class="oinkita-kaur">{{expense.comment}}</div>
                  <div class="cigaretter">
                    {{ expense.spentAt | date : "medium" }}
                  </div>
                </div>
              </div>
              <div class="frame-26">
                <div class="_38-0342">₹ {{ expense.amountPaid }}</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="right-section">
      <ul>
        <h2 class="list-title">Member List</h2>
        <li *ngFor="let member of members">
          <div class="frame-27">
            <div class="frame-22">
              <div class="frame-23">
                <div class="frame-24"></div>
                <div class="frame-25">
                  <div class="oinkita-kaur">
                    {{ member.firstName }} {{ member.lastName }}
                    
                  </div>
                  <div class="cigaretter">{{ member.email }}</div>
                </div>
              </div>
              <div class="frame-26">
                <!-- <div class="_38-0342">----</div> -->

                <span><button id="dlt" (click)="removeMemberFromGroup(member.email)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m1.46 8.88l1.42-1.42L5 9.59l2.12-2.13l1.42 1.42L6.41 11l2.13 2.12l-1.42 1.42L5 12.41l-2.12 2.13l-1.42-1.42L3.59 11L1.46 8.88M15 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 1.9A2.1 2.1 0 0 0 12.9 8a2.1 2.1 0 0 0 2.1 2.1a2.1 2.1 0 1 0 0-4.2m0 7.1c2.67 0 8 1.33 8 4v3H7v-3c0-2.67 5.33-4 8-4m0 1.9c-3 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1Z"/></svg>
                </button></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- edit name -->
    <div class="modal" [style.display]="showEditModal ? 'flex' : 'none'">
      <div class="blur"></div>
      <div class="modal-content">
        <div class="wrap">
          <div class="title">
            <h1>Edit Name</h1>
            <button class="close-icon" (click)="toggleEditModal()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="black"
                class="bi bi-x-lg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                />
              </svg>
            </button>
          </div>
          <form #nameForm="ngForm" (ngSubmit)="changeGroupKaName(newName.value)">
            <div class="form-group">
              <label for="memberMail">Enter new name:</label>
              <span class="input-group">
                <input
                  type="text"
                  id="newName"
                  #newName
                  class="form-control"
                  placeholder="New Name ..."
                  required
                />
                <div class="add-icon">
                  <button type="submit" (click)="toggleEditModal()">
                    Update
                  </button>
                </div>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- expense details -->
    <div class="modal" [style.display]="showExpenseModal ? 'flex' : 'none'">
      <div class="blur"></div>
      <div class="modal-content">
        <div class="wrap expense">
          <div class="title">
            <h2>{{expenseDetails.comment}}</h2>
            <button class="close-icon" (click)="closeExpenseModalHandler()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="black"
                class="bi bi-x-lg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                />
              </svg>

            </button> 
          </div>
          <div class="expense-details">
            <h1>{{expenseDetails.amountPaid}}</h1>
            <table>
              <tr class="details-list"> 
                <tr *ngFor="let expense of paymentSplitDetailsList">
                  <td>{{expense.userName | uppercase }}</td>
                  <td> Paid </td>
                  <td>{{expense.amount  | number: '1.2-2' }}</td>
                </tr>
                <tr *ngFor="let expense of expenseSplitDetailsList">
                  <td>{{expense.payerName | uppercase }}</td>
                  <td> Owes </td>
                  <td>{{expense.amount | number: '1.2-2'}}</td>
                  <td> to </td>
                  <td>{{expense.payeeName | uppercase }}</td>

                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- add member -->
    <div class="modal" [style.display]="showModal ? 'flex' : 'none'">
      <div class="blur"></div>
      <div class="modal-content">
        <div class="wrap">
          <div class="title">
            <h1>Add new member</h1>
            <button class="close-icon" (click)="toggleModal()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="black"
                class="bi bi-x-lg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                />
              </svg>
            </button>
          </div>
          <form #myForm="ngForm" (ngSubmit)="addMember(memberMail.value)">
            <div class="form-group">
              <label for="memberMail">Enter member email:</label>
              <span class="input-group">
                <input
                  type="email"
                  id="memberMail"
                  #memberMail
                  class="form-control"
                  placeholder="example@mail.com"
                  required
                />
                <div class="add-icon">
                  <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11.5 12.5H6v-1h5.5V6h1v5.5H18v1h-5.5V18h-1v-5.5Z"/></svg>
                  </button>
                </div>
              </span>
            </div>
            <p>List of members:</p>
            <ul class="member-list">
              <li *ngFor="let member of membersToAdd">
                {{ member }}
                <button (click)="removeMember(member)" style="background-color: red;">
                  <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="black"
                class="bi bi-x-lg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                />
              </svg>
                </button>
              </li>
            </ul>
            <button (click)="addMembersToGroup()">Add Members</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
